**/build/
**/dist/
**/test/

**/nbproject/genfiles.properties
**/nbproject/private/

/bin/*.jar
/bin/Common/Lib/Internal/*.jar
/bin/Player/Lib/Internal/*.jar

/bin/Common/Data/CereProc/*
/bin/Log/*
/bin/ModularSave.xml

/bin/Player/Lib/External/Linux32/*.cfg
/bin/Player/Lib/External/Linux64/*.cfg
/bin/Player/Lib/External/Win32/*.cfg
/bin/Player/Lib/External/Win64/*.cfg

*.log
/core/Signals/build
/core/Util/build
/core/Intentions/build