**/nbproject/private/
**/build/
bin/Log/
bin/Common/Data/Cereproc/
bin/Player/Lib/External/Win64/*\.cfg
bin/ModularSave\.xml
**/genfiles\.properties
*.log
*.form
\.idea/

*.iml

bin/Common/Lib/Internal/*\.jar
bin/Common/Lib/Internal/lib/*\.jar

out/

bin/javadoc/

bin/Modular\.jar

bin/Player/Lib/Internal/playerOgre\.jar
