<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender for all logs -->
        <RollingFile name="FileAppender" fileName="${LOG_DIR}/greta.log"
                     filePattern="${LOG_DIR}/greta.%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- File Appender for errors only -->
        <RollingFile name="ErrorFileAppender" fileName="${LOG_DIR}/greta-error.log"
                     filePattern="${LOG_DIR}/greta-error.%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Async Appender for better performance -->
        <AsyncFile name="AsyncFileAppender" fileName="${LOG_DIR}/greta-async.log"
                   filePattern="${LOG_DIR}/greta-async.%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </AsyncFile>
    </Appenders>

    <Loggers>
        <!-- Greta-specific loggers -->
        <Logger name="greta" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Core module loggers -->
        <Logger name="greta.core" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFileAppender"/>
        </Logger>

        <!-- Auxiliary module loggers -->
        <Logger name="greta.auxiliary" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Application logger -->
        <Logger name="greta.application" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Third-party library loggers -->
        <Logger name="org.apache.activemq" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="org.apache.thrift" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="com.illposed.osc" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="javax.jms" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- JOGL graphics logging -->
        <Logger name="javax.media.opengl" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Jackson JSON processing -->
        <Logger name="com.fasterxml.jackson" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>